<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mh.sole_beer">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-feature android:name="android.hardware.camera2"></uses-feature>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme="@string/kakao_scheme"
                    android:host="@string/kakaolink_host"></data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 카카오톡관련 intent filter -->


        </activity>
        <activity android:name=".Calc_Blood_Alcohol" android:label="blood"></activity>
        <activity android:name=".Liquor_Store_KoreaBeer" android:label="KoreaBeer"></activity>
        <activity android:name=".Liquor_Store_OverseeBeer" android:label="OverseeBeer"></activity>
        <activity android:name=".Liquor_Store_Soju" android:label="Soju"></activity>
        <activity android:name=".Liquor_Store_Makgulri" android:label="Makgulri"></activity>
        <activity android:name=".Liquor_Store_Cacktail" android:label="Cacktail"></activity>
        <activity android:name=".Liquor_Store_Wine" android:label="Wine"></activity>
        <!-- 카카오톡 메타데이타 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <!-- 사진 촬영 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.shuvic.alumni.camera_album"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>

        </provider>

    </application>

</manifest>